*{
	padding: 0;
	margin: 0;
	
}

/*Nav Bar*/

.navbar{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: darkblue;
	width: 100%;
	height: 60px;
	z-index: 1;


}

.nav{
	display: flex;
	justify-content: center;
	list-style: none;
	margin-right: 15%;
}

.nav > li > a{
	color: white;

}

.logo{
	flex: 1 1 auto;
	margin-left: 10%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 35px;
	color: white;
}

a{
	margin: 15px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;

}

a:hover{
	color: #000;
}

.location-area, .contact-area{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 700px;
}


/*HOME1*/

.banner-area{
	position: relative;
	background: url(../images/bg2.JPG);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width:100%;
	background-repeat: no-repeat;


}

.banner-area > div > h1 {
	color: darkblue;
	text-align: top;
}

.banner-area > div > h2 {
	color: white;
}

.btn {
	background-color: darkblue;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}

.btn:hover{
	background-color: salmon;
}

/*home2*/

.about-area{
	height: 100vh;
	background: url(../images/bg4.JPG);
	display: flex;
	background-size: cover;
	background-position: center;
	position: relative;


}

.left{
	
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 30px;
	

}

.left > div > h1 {

	border-color: darkblue;
    border-width: 1px;
    border-style: solid;
    background-color: darkblue;
    width: auto;
}

.left > div > p {

	border-color: darkblue;
    border-width: 1px;
    border-style: solid;
    background-color: darkblue;
    width: auto;

}


.right{
	
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: top;
	color: white;
	font-size: 30px;
	background-color: : darkblue;
}

.right > div > div > img{

	height: 200px;
	width: 200px;
	border-radius: 50%;
	
}

.right > div > div{
	margin: auto;
	text-align: center;


}


/*home3*/

.location-area{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: darkblue;
	font-size: 30px;
	background: url(../images/location1.JPG);
	display: flex;
	background-size: cover;
	background-position: center;

}


.location-area > div > img{

	height: 200px;
	width: 200px;
	border-radius: 50%;

}

.location-area > div{

	text-align: center;
}

/*home4*/

.community-area{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: top;
	color: darkblue;
	background: url(../images/bg2.JPG);
	display: flex;
	background-size: cover;
	background-position: center;
}

.community-area > div > img{

	height: 200px;
	width: 200px;
	border-radius: 50%;
	text-align: top;
	
}


	


.pic:hover {
	transform: scale(1.5);
	transition: .4s;
	
}

input {
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

form {
	font-size: 50px;
	text-align: center;
	margin: 10px;	
}

/*home5*/

.contact-area{
	height: 100vh;
	width: 100vw;
	background: url(../images/bg6.JPG);
	color: darkblue;
	display: flex;
	background-size: cover;
	background-position: center;

}